<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>
        <a href="/04_query/?id=53&name=zsf">手拼参数到04_query</a>
    </h3>
    <form action="/03_get" method="get">
        <p>
            用户名:
            <input type="text" name="uname">
        </p>
        <p>
            密码:
            <input type="password" name="upwd">
        </p>
        <p>
            <input type="submit" value="提交">
        </p>
    </form>
</body>
</html>