<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{%url 'update' %}" method="post">
        {% csrf_token %}
        <p>
            姓名：
            <input type="text" name="uname" value="{{au.names}}">
            <!--　隐藏与：需要提交给后台但不幸给用户看得的数据 -->
            <input type="hidden" name="uid" value="{{au.id}}">
        </p>
        <p>
            年龄:
            <input type="number" name="uage" value="{{au.age}}">
        </p>
        <p>
            邮箱:
            <input type="email" name="uemail" value="{{au.email}}">
        </p>
        <p>
            <input type="submit" value="修改">
        </p>
    </form>
</body>
</html>